@import 'https://fonts.googleapis.com/css?family=Open+Sans:300,400,700';

html {
    -webkit-font-smoothing: antialiased;
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;

}
//
// .bold {
// }
//
// .italic {
// }
//
// .light {
// }
//
// .cap {
//     text-transform: uppercase;
// }
//
// .capitalize {
//     text-transform: capitalize;
// }
//
// .title {
// }
//
// .pointer {
//     cursor: pointer;
// }
//
// h1 {
//     font-size: 3.813em;
// }
//
// h2 {
//     font-size: 3.051em;
// }
//
// h3 {
//     font-size: 2.441em;
// }
//
// h4 {
//     font-size: 1.953em;
// }
//
// h5 {
//     font-size: 1.563em;
// }
//
// h6 {
//     font-size: 1.25em;
// }
//
// p {
//     line-height: 150%;
// }
//
// small {
// }
//
