//
$navbar-height: 65px;
$filter-height: 85px;
$rounded-lg: 20px;
$rounded-textarea: 18px;
$rounded-md: 6px;
$rounded-sm: 3px;
$rounded-xs: 3px;
// Shadow
$shadow-md: 0px 2px 20px rgba(0, 0, 0, 0.25);
// size
$xs: 4px;
$sm: 8px;
$base: 16px;
$md: 20px;
$lg: 30px;
$xl: 50px;
$nav-height: 3.25em; //52px
